html, body {margin: 0 auto; padding: 0; background: black;}
html, body, div { display: block;}

strong, b {font-weight: bolder;}

p {line-height: 130%;}

a:link          {color: #05C;}
a:hover         {color: #C00;}
a:visited       {color: #909;}
a:visited:hover {color: #C00;}
a:focus         {outline: none;}

.figure a, 
.figure a:hover,
.figure a:visited, 
.figure a:visited:hover, 
.figure a:focus {text-decoration: none;}

.container {
    clear: both; 
    overflow: hidden; 
    margin: 0 auto; 
    padding: 0 10px;
    text-align: center;
    width: 980px;
}

#site {
    width: 100%;
    padding: 0; 
    margin: 0; 
    border: 0;
    text-align: center;
    border-collapse: collapse; 
    display: block;
}

#site.header {
   min-height: 70px; 
   background: black;
}

#site.header .container {
   position: relative;
   min-height: 70px;
}

#site.header .container .image img {display: block;}

#site.header .container .title {
   position: absolute;
   right: 10px;
}

#site.header .container .title .link {
   height: 70px;
   display: table-cell; 
   vertical-align: middle;
   padding-right: 20px;
   padding-left: 20px;
   background: black;
   filter:alpha(opacity=60);
   opacity:0.6;
}
#site.header .container .title a, 
#site.header .container .title a:hover,
#site.header .container .title a:visited, 
#site.header .container .title a:visited:hover, 
#site.header .container .title a:focus {
    font-size: 42px; 
    font-variant: small-caps;
    color: white; 
    text-decoration: none;
}

#site.body {background: white; color: #111;}

#site.footer {background: black; color: #CCC;}
#site.footer a {color: white;}
#site.footer strong {color: white;}
#site.footer .bar {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px; 
    margin: 20px 0;
}

.left {float: left; text-align: left; width: 400px;}
.left h1 {font-family: helvetica, arial; font-weight: bold; font-size: 35px;}
.left ul {list-style: none outside; padding-left: 0;}
.left ul li {padding-bottom: 0.7em;}

.right {float: right; width: 530px;}
.right h1 {
    color: #222;
    font-family: georgia, times;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1,2em;
    margin: 21px 0px 30px;
    padding: 0px;
    text-align: left;
}

.right .divider {
    border-top: 1px solid #CCC; 
    clear: both; 
    margin: 0 0 15px 0;
}

.projects {
    float: left;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1,3em;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: left;
    width: 480px;
}
.project {margin-left:-14px; margin-right:36px; margin-bottom:35px;
   padding-left:22px; float:left;
   display:table; text-align:center;}
.project div.desc {text-align:center; display:table-row;}
.project div.desc p {width:300px;}

.post {line-height: 130%; text-align: left; width: 570px; padding-left: 110px;}
.post .header {padding-top: 40px; padding-bottom: 15px;}
.post .header h1 {font-size: 150%;}
.post p {margin: 1em 0em; line-height: 130%;}
.post ul {list-style: square outside;}
.post li p {margin-top: 0.5em; margin-bottom: 0em;}
.post li + li {margin-top: 0.7em;}
.post dd p {margin-top: 0.5em; margin-bottom: 0em;}
.post dd + dt {margin-top: 0.7em;}
.post pre {
    background-color: #F5F5EA; 
    padding-top: 0.7em; 
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-right: 1.4em;
    margin: 0; 
    overflow: auto; 
    display: inline-block; 
    min-width: 552px; 
    max-width: 820px;
}
.post li pre, .post dd pre {margin-top: 0.5em;}
.post .figure {margin: 1em 0em; text-align: center;}
.post .figure p {text-align: center; font-style: italic; font-size: smaller; text-indent: 0;}
.post .figure img {max-width: 820px;}
.post #disqus_thread {padding-top: 20px;}
