body {
    margin: 0 auto;
    padding: 0;
    color: #111;
    background-color: #111;
    text-align: center;
}

div#site {
    background-color: white;
}

a:link          {color: #05C;}
a:hover         {color: #C00;}
a:visited       {color: #909;}
a:visited:hover {color: #C00;}
a:focus         {outline: none;}

ul {list-style: square outside;}

dt {
    padding-bottom: 0.3em;
}
dd {
    padding-bottom: 0.7em;
}

div.container {
    clear: both;
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
    width: 980px;
}
header.site {
    background-color: black; 
    color: white;
    height: 70px;
}
div.title {
    font-size: 42px;
    font-variant: small-caps;
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}
header div.title a {
    color: white;
    text-decoration: none;
}

div.blog-posts {
    float: left;
    width: 400px;
    text-align: left;
}
div.blog-posts h1 {
    font-family: helvetica, arial;
    font-weight: bold;
    font-size: 35px;
}
div.blog-posts ul {
    list-style: none outside;
    padding-left: 0;
}
div.blog-posts ul li {
    padding-bottom: 0.7em;
}

article.post {
    text-align: left;
    width: 570px;
    padding-left: 110px;
}
article.post header h1 {
    font-size: 150%;
}
article.post p {
    line-height: 130%;
}
article.post pre {
    background-color: #F5F5EA;
    padding: 0.7em 0.7em 0.7em;
}
article.post pre.example {
    background-color: #F5F5EA;
    padding: 0.7em 0.7em 0.7em;
}

div.right {
    float: right;
    width: 530px;
}
div.right h1 {
    font-family: georgia, times;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1,2em;
    margin: 21px 0px 30px;
    padding: 0px;
    text-align: left;
}

div.divider {
    border-top: 1px solid #CCC;
    clear: both;
    margin: 25px 0px;
}

div.projects {
    float: left;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1,3em;
    margin-bottom: 25px;
    /* margin-top: 20px; */
    text-align: left;
    width: 480px; /* 530px; */
}
div.project {
    margin-bottom: 35px;
}
div.project img + a {
    color: inherit;
    text-decoration: none;
}
div.project h2 {
    line-height: 1,3em;
    font-weight: normal;
}

footer.site {
    background-color: #111;
    border-top: 1px solid black;
    clear: both;
    color: #CCC;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer.site div.bar {
    clear: both;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    text-align: center;
}
footer.site div.bar a {
    color: white;
}
footer.site div.bar strong {color: white;}
