html, body {margin: 0 auto; padding: 0; background: black;}
html, body, div { display: block;}

strong, b {font-weight: bolder;}

p {line-height: 130%;}

a:link          {color: #05C;}
a:hover         {color: #C00;}
a:visited       {color: #909;}
a:visited:hover {color: #C00;}
a:focus         {outline: none;}

div.container {
    clear: both; 
    overflow: hidden; 
    margin: 0 auto; 
    padding: 0 10px;
    text-align: center;
    width: 980px;
}

div.title a, 
div.title a:hover,
div.title a:visited, 
div.title a:visited:hover, 
div.title a:focus {
    float: right;
    padding-right: 30px;
    font-size: 42px; 
    font-variant: small-caps; 
    color: white; 
    text-decoration: none;
}

div.figure a, 
div.figure a:hover,
div.figure a:visited, 
div.figure a:visited:hover, 
div.figure a:focus {text-decoration: none;}

table.site {text-align: center;}

table.site.header {background: black;}

table.site.body {background: white; color #111;}

table.site.footer {color: #CCC;}
table.site.footer a {color: white;}
table.site.footer strong {color: white;}
table.site.footer div.bar {font-family: helvetica, arial, sans-serif; font-size: 14px; margin: 20px 0;}

div.left {float: left; text-align: left; width: 400px;}
div.left h1 {font-family: helvetica, arial; font-weight: bold; font-size: 35px;}
div.left ul {list-style: none outside; padding-left: 0;}
div.left ul li {padding-bottom: 0.7em;}

div.right {float: right; width: 530px;}
div.right h1 {
    color: #222;
    font-family: georgia, times;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1,2em;
    margin: 21px 0px 30px;
    padding: 0px;
    text-align: left;
}

div.right div.divider {border-top: 1px solid #CCC; clear: both; margin: 0 0 15px 0;}

div.projects {
    float: left;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1,3em;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: left;
    width: 480px;
}
div.project {margin-bottom: 35px;}
div.project h2 {line-height: 1,3em; color: #222; font-weight: normal;}
div.project a.project.title {text-decoration: none;}

div.post {line-height: 130%; text-align: left; width: 570px; padding-left: 110px;}
div.post div.header {padding-top: 40px; padding-bottom: 15px;}
div.post div.header h1 {font-size: 150%;}
div.post p {margin: 1em 0em; line-height: 130%;}
div.post ul {list-style: square outside;}
div.post li p {margin-top: 0.5em; margin-bottom: 0em;}
div.post li + li {margin-top: 0.7em;}
div.post dd p {margin-top: 0.5em; margin-bottom: 0em;}
div.post dd + dt {margin-top: 0.7em;}
div.post pre, div.post pre.example {background-color: #F5F5EA; padding: 0.7em 0.7em 0.7em; margin: 0; overflow: auto; display: inline-block; min-width: 552px; max-width: 820px;}
div.post li pre, div.post li pre.example {margin-top: 1em; margin-bottom: 1em;}
div.post div.figure {margin: 1em 0em; text-align: center;}
div.post div.figure p {text-align: center; font-style: italic; font-size: smaller; text-indent: 0;}
div.post div.figure img {max-width: 820px;}
div.post div#disqus_thread {padding-top: 20px;}
