---
layout: default
title: Bullshit mode on
---
<div class="container">
  {% if paginator.previous_page == 1 %}
     <a href="/">Новый булшит</a> ↑
  {% elsif paginator.previous_page != null %}
     <a href="/page{{ paginator.previous_page }}">Новый булшит</a> ↑
  {% endif %}
    {% for post in paginator.posts %}
       {% case post.layout %}
       {% when 'post' %}
          <div class="hrule"></div>
          <article class="post">
            <header>
              <div id="title">
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </div>
            </header>
            {{ post.content }}
          </article>
       {% when 'plain-post' %}
          <div class="hrule"></div>
          <article class="post">
            <header>
              <div id="title">
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </div>
            </header>
            {{ post.content }}
          </article>
       {% endcase %}
    {% endfor %}
  {% if paginator.next_page != null %}
     <div class="hrule"></div>
     ↓ <a href="/page{{ paginator.next_page }}">Старый булшит</a>
  {% endif %}
</div>
